  
@import url(
  http://fonts.googleapis.com/css?family=Open+Sans: 400,300,600);

/**,*:before,*:after {
  -moz-box-sizing: border-box;
  -webkit box-sizing: border-box;
  -box-sizing: border-box;
  margin:0;
  padding:0;
}*/

/*body {
  padding: 25px;
  font:16px/1.4 'Open Sans',sans-serif;*/

.header {
  float: left;
  display: inline-block;
  margin-left: 95px;
  height: 65px;
  width: 1200px;
  background-color: #B22222;
  position: fixed;
  margin-top: -20px;
  z-index: 10000;
}

.header_ul {
  list-style-type:none;
}

a {
  text-decoration:none;
  color: white;
  font:16px 'Open Sans',sans-serif;
}

/* Outer wrapper can collapse all the way because there is no padding or borders */
.nav {
  max-height: 0;
  overflow: hidden;
  
  -webkit-transition: 0.4s; /*safari*/
  -moz-transition: 0.4s; /*firefox*/
  -ms-transition: 0.4s; /*internet explorer*/
  -o-transition: 0.4s; /*opra*/
  transition: 0.4s; /*general*/
}
.nav.active {
  max-height: 12em;
}
/* Inner wrapper can have padding and borders but can't collapse full as a result */

ul {
  display: inline-block;
  width: 150px;
  padding: 10px;
  background: #B22222;
  color: #fff;
  z-index: 150;
  margin-left: -10px;
  margin-top: 50px;

}

li a {
  display: block;
  padding: 5px;
  padding-left: 12px;
}

li a:hover {
  background: #888;
}

.hamburgermenu {
  position: absolute;
  display: inline-block;
  font-size: 32px;
  font-weight: normal;
  margin-top: 18px;
  margin-left: 10px;
  text-transform: uppercase;
  z-index: 150;
}

.hamburgermenu:before,.hamburgermenu:after {
  content: "";
  position: absolute;
  top: 6px;
  right: -50px;
  display: inline-block;
  width: 36px; /* Makes the pseudo elements clickable since we're using box-shadows */
  height: 28px; /* Makes the pseudo elements clickable since we're using box-shadows */
}

.hamburgermenu:after {
  height: 5px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 10px 0 0 white,
              0 20px 0 0 white;
}

/*Start of Image Caroussel*/

/*html {
  border-top: 5px solid #fff;
  background: #58DDAF;
  color: #2a2a2a;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

h1 {
  color: #fff;
  text-align: center;
  font-weight: 300;
}*/

#slider {
  position: relative;
  float: left;
  overflow: hidden;
  /*margin: 20px auto 0 auto;*/
  margin-left: 70px;
  margin-top: 45px;
  border-radius: 4px;
  z-index: -10;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
  background-color: white;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin-left: 6px;
  padding: 0;
  width: 1225px;
  height: 600px;
  background: white;
  text-align: center;
  line-height: 300px;
  z-index: -10;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 100;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_next {
  margin-right: 100px;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
  margin-left: 95px;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
  margin-right: 122px;
}
/*
.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}*/

.introduction_box {
  float: left;
  padding-left: 25%;
  padding-right: 25%;
  margin-left: 95px;
  margin-right: 104px;
  border-style: solid;
}

.introduction {
  font-size: 20px
}

#left_map_1 {
  float: left;
  height: 3294px;
  width: 350px;
  margin-left: 95px;
  border-style: solid;
}

#googlemaps_1 {
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-top: 50px;
  border: 5px solid black;
  margin-left: 25px;
  clear: both;
  overflow: hidden;
/*  display: none;*/
}

#googlemaps_2 {
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-top: 50px;
  border-radius: 20px;
  z-index: 1000;
  position: absolute;
  clear: both;
  margin-left: 25px;
  top: 168%;
/*  display: none;*/
}

#googlemaps_3 {
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-top: 50px;
  border-radius: 20px;
  z-index: 1000;
  position: absolute;
  clear: both;
  margin-left: 25px;
  top: 260%;
/*  display: none;*/
}

#googlemaps_4 {
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-top: 50px;
  border-radius: 20px;
  z-index: 1000;
  position: absolute;
  clear: both;
  margin-left: 25px;
  top: 260%;
/*  display: none;*/
}

#googlemaps_5 {
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-top: 50px;
  border-radius: 20px;
  z-index: 1000;
  position: absolute;
  clear: both;
  margin-left: 25px;
  top: 260%;
/*  display: none;*/
}

#main_content_1 {
  float: left;
  position: static;
  padding-left: 50px;
  border-style: solid;
  width: 788px;
  background-color: #FAFAFA;
}

#main_content_2 {
  float: left;
  position: static;
  padding-left: 50px;
  border-style: solid;
  width: 788px;
  background-color: #FAFAFA;
}

#main_content_3 {
  float: left;
  position: static;
  padding-left: 50px;
  border-style: solid;
  width: 788px;
  background-color: #FAFAFA;
}

#main_content_4 {
  float: left;
  position: static;
  padding-left: 50px;
  border-style: solid;
  width: 788px;
  background-color: #FAFAFA;
}

#main_content_5 {
  float: left;
  position: static;
  padding-left: 50px;
  border-style: solid;
  width: 788px;
  background-color: #FAFAFA;
}

#main_content_1, #main_content_2, #main_content_3, #main_content_4, #main_content_5 {
  margin-right: 100px;
}

h2 {
  padding-left: 0px;
  padding-top: 40px;

}
 
p {
  font-size: 18px;
}

.main_content_images_ul {
  background-color: #FAFAFA;;
  width: 700px;
}

.main_content_images_li {
  float: left;
  display: inline;
  width: 200px;
  margin-left: 32px;
}

.main_content_images_li img {
  float: left;
  display: inline;
  border-radius: 15px;
  vertical-align: top;
}

#main_content_1_text p {
  float: left;
  display: inline-block;
  margin-right: 30px;
  text-align: justify;
  width: 350px;
  height: 300px;
  font-family: Baskerville;
}

#main_content_1_text p a {
  color: black;
  font-family: Baskerville;
}

#main_content_1_text p a:hover {
  color: red;
  text-decoration: underline;
}


